.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .branding {
    font-size: 60px;
    color: darkgoldenrod;
  }
  
  .time {
    font-size: 300px;
    color: rgb(166, 166, 166);
  }
  
  .date {
    font-size: 100px;
    color: rgb(166, 166, 166);
  }  